@font-face {
    font-family: 'NIXGONFONTS M';
    src: url('../Fonts/NIXGONFONTS M 2.0.ttf') format('truetype');
}

@font-face {
    font-family: 'NIXGONFONTS B';
    src: url('../Fonts/NIXGONFONTS B 2.0.ttf') format('truetype');
}

input:placeholder {
    font-family: 'NIXGONFONTS M';
}

html, body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}


.wrap_total {
    width: 100%;
    height: 100%;
    text-align: left;
}

.wrap {
    display: table-cell;
    background-image: url('../Images/Background/BG_TheDivision.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    text-align: center;
    vertical-align: middle;
    position: relative;
}


.div_logo {
    width: 210px;
    height: 60px;
    left: 10px;
    top: 10px;
    position: absolute;
}

.div_logo {
    cursor: pointer;
}

.img_logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login_square {
    z-index: 2;
    display: table-cell;
    display: inline-block;
    background-color: #111213;
    width: 1000px;
    height: 850px;
    position: relative;
    text-align:center;
}

.txt_login {
    margin-top: 70px;
    color: #FFFFFF;
    top: 35px;
    font-family: 'NIXGONFONTS M';
}

.wrap_idpass {
    margin-top: 50px;
    width: 80%;
    height: 600px;
    vertical-align:central;
    display:inline-block;
    text-align:left;
}
/*데이터 입력부분*/
.div_upload_data {
    width: 90%;
    height: 520px;
    border-bottom: 1px solid;
    border-color: aliceblue;
    display: inline-block;
    text-align: left;
    margin-top: 15px;
}

.input_data {
    width: 500px;
    border: 0;
    background: transparent;
    border-bottom: 1px solid #FFFFFF;
    font-size: 17pt;
    color: #FFFFFF;
    padding-bottom: 5px;
    margin-bottom: 20px;
    display: inline-block;
    outline: none;
    font-family: 'NIXGONFONTS M';
    text-align: left;
}

/*개발사 소개*/

.input_explain {
    width: 800px;
    height: 180px;
    background: transparent;
    border-bottom: 1px solid #FFFFFF;
    font-size: 17pt;
    color: #FFFFFF;
    padding-bottom: 5px;
    margin-bottom: 20px;
    outline: none;
    font-family: 'NIXGONFONTS M';
    text-align: left;
}
/*프로필 이미지 등록*/
.wrap_input_img {
    width: 500px;
    border-bottom: 1px solid;
    border-color: aliceblue;
    margin-left: 5%;
    margin-top: 15px;
    text-align: left;
    display: inline-block;
}

.txt_devreg_img {
    font-size: 13pt;
    color: #FFFFFF;
    font-family: 'NIXGONFONTS M';
    margin-top: 10px;
    width: 450px;
    text-align: left;
    display: inline-block;
}
/*이미지 업로드*/
.txt_devreg_imgselect {
    color: #FFFFFF;
    font-size: 15pt;
    font-family: 'NIXGONFONTS M 2.0';
    text-align: left;
}

.div_button {
    width: 50%;
    text-align:center;
    display: inline-block;
}

/*회원가입 경고문구*/
.txt_check {
    visibility:hidden;
    color: red;
    display: inline-block;
}
/*가입버튼*/
.button_register {
    border: 0;
    outline: 0;
    background-color: #25262B;
    color: #FFFFFF;
    font-size: 14pt;
    width: 100px;
    height: 50px;
    position: relative;
    display: inline-block;
    border-radius: 0 10px 0 10px;
    transition: all 0.2s;
    font-family: 'NIXGONFONTS M';
}
/*가입버튼 호버*/
    .button_register:hover {
        color: #FFFFFF;
        background-color: #3dae7a;
        font-family: 'NIXGONFONTS M';
    }
