@font-face {
    font-family: 'NIXGONFONTS L';
    src: url('../Fonts/NIXGONFONTS L 2.0.ttf') format('truetype');
}

@font-face {
    font-family: 'NIXGONFONTS M';
    src: url('../Fonts/NIXGONFONTS M 2.0.ttf') format('truetype');
}

@font-face {
    font-family: 'NIXGONFONTS B';
    src: url('../Fonts/NIXGONFONTS B 2.0.ttf') format('truetype');
}

input::placeholder {
    font-family: 'NIXGONFONTS M';
}


html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.wrap {
    display: table-cell;
    background-image: url('../Images/Background/BG_TheDivision.jpg');
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: relative;
    text-align: center;
    vertical-align: middle;
    top: 0px;
    left: 0px;
}


.div_logo {
    width: 210px;
    height: 60px;
    left: 10px;
    top: 10px;
    position: absolute;
}

      .div_logo:hover {
          cursor: pointer;
       }

.img_logo {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.login_square {
    z-index: 2;
    display: table-cell;
    display: inline-block;
    background-color: #111213;
    width: 30vw;
    height: 65vh;
    min-width: 500px;
    min-height: 600px;
    position: relative;
}

.txt_login {
    margin-top: 100px;
    color: #FFFFFF;
    top: 30px;
    font-family: 'NIXGONFONTS B';
}

.wrap_idpass {
    margin-top: 50px;
}

.wrap_input_id {
    left: 50%;
    margin-left: -8.5vw;
    margin-top: 0;
    position: absolute;
    width: 200px;
}
.input_id {
    width: 14vw;
    border: 0;
    background: transparent;
    border-bottom: 1px solid #FFFFFF;
    font-size: 17pt;
    color: #FFFFFF;
    padding-bottom: 8px;
    padding-left: 3vw;
    outline: none;
    font-family: 'NIXGONFONTS M';
}

.icon_id {
    position: absolute;
    bottom: 2px;
    left: 5px;
    width: 40px;
    height: 40px;
}


.wrap_input_password {
    left: 50%;
    margin-left: -8.5vw;
    margin-top: 10px;
    position: absolute;
    width: 200px;
}

.input_password {
    width: 14vw;
    border: 0;
    background: transparent;
    border-bottom: 1px solid #FFFFFF;
    font-size: 17pt;
    color: #FFFFFF;
    padding-bottom: 8px;
    padding-left: 3vw;
    outline: none;
}

.icon_password {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
}

.wrap_login {
    position: absolute;
    width: 17vw;
    height: 35px;
    margin-top: 30px;
    left: 50%;
    margin-left: -8.5vw;
    text-align: left;
}

.check_autologin {
}

.a_autologin {
    color: #FFFFFF;
    font-size: 12pt;
    font-family: 'NIXGONFONTS M';
}

.button_login {
    position: absolute;
    margin-left: 10vw;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin-top: -6px;
    font-family: 'NIXGONFONTS M';
}

.img_login {
    position: relative;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.a_login_check {
    color: #FF0000;
    visibility: hidden;
    user-select: none;
    font-family: 'NIXGONFONTS M';
}

.a_register {
    color: #FFFFFF;
    text-decoration: none;
    user-select: none;
    font-family: 'NIXGONFONTS M';
}

.a_register_link {
    color: #115fff;
    text-decoration: none;
    font-family: 'NIXGONFONTS M';
}