html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.wrap {
    display: table-cell;
    background-image: url('../Images/Background/BG_TheDivision.jpg');
    width: 100vw;
    height: 100vh;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

.wrap_table {
    display: table;
}

.div_logo {
    z-index: 1;
    width: 280px;
    height: 80px;
    left: 10px;
    position: absolute;
    min-height: 100px;
}

.img_logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login_square {
    z-index: 2;
    display: table-cell;
    display: inline-block;
    background-color: #111213;
    width: 30vw;
    height: 65vh;
    position: relative;
}
