@font-face {
    font-family: 'NIXGONFONTS L';
    src: url('../Fonts/NIXGONFONTS L 2.0.ttf') format('truetype');
}

@font-face {
    font-family: 'NIXGONFONTS M';
    src: url('../Fonts/NIXGONFONTS M 2.0.ttf') format('truetype');
}

@font-face {
    font-family: 'NIXGONFONTS B';
    src: url('../Fonts/NIXGONFONTS B 2.0.ttf') format('truetype');
}
@font-face {
    font-family: 'IBMPlexSansKR-Medium';
    src: url('../Fonts/IBMPlexSansKR-Medium.ttf') format('truetype');
}

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.wrap_total {
    width: 100%;
    height: 100%;
    text-align: center;
}

.p {
    user-select: none;
}

/*프로필 상단부*/

.profile_square {
    background-color: #1B1C1E;
    width: 900px;
    height: 290px;
    position: relative;
    
    margin-left: 70px;
    margin-top: 90px;
}

.img_profile {
    width: 200px;
    margin-top: 40px;
}
.txt_profile_detail {
    color: #FFFFFF;
    font-size: 20pt;
    font-family: 'NIXGONFONTS M';
}
.txt_profile_nickname {
    color: #FFFFFF;
    font-size: 40pt;
    font-family: 'NIXGONFONTS B';
}
.txt_profile_level {
    font-size: 20pt;
    font-family: 'NIXGONFONTS M';
    color: #ff6a00;
}
.txt_profile_countgame {
    font-size: 20pt;
    font-family: 'NIXGONFONTS M';
    color: cyan;
}
.div_profile_img{
    width:30%;
    float:left;
    height:100%;
    text-align:center;
    
}
.div_profile_detail {
    width: 55%;
    height: 100%;
    padding-top: 10px;
    text-align:left;
    float:left;

}
.div_profile_edit {
    width: 15%;
    height: 100%;
    float: right;
}
.btn_profile_edit {
    background: transparent;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    vertical-align: central;
    text-align: center;
    color: #FFFFFF;
    font-family: IBMPlexSansKR-Medium;
    font-size: 16pt;
}

/*최근 구매한 게임*/

.profile_square_game {
    background-color: #1B1C1E;
    width: 900px;
    height: 480px;
    position: relative;
    vertical-align: central;
    margin-left: 70px;
    margin-top: 10px;
}

.txt_profile_game {
    color: #FFFFFF;
    font-size: 35pt;
    font-family: 'NIXGONFONTS B';
    padding-top:30px;
    padding-left:55px;
    text-align:left;
}

.div_profile_game{
    float:left;
    width:32%;
    height:90%;
}
.div_profile_game-1{
    padding-left:40px;
}

.img_profile_game{
    width:90%;

}
.txt_profile_game_title {
    color: #FFFFFF;
    font-size: 25pt;
    font-family: 'NIXGONFONTS M';
}
.txt_profile_game_date {
    color: #FFFFFF;
    font-size: 15pt;
    font-family: 'NIXGONFONTS M';
}
.txt_profile_game_price {
    font-family: 'IBMPlexSansKR-Medium';
}

/*스크린샷*/

.profile_square_screenshot {
    background-color: #1B1C1E;
    width: 900px;
    height: 460px;
    position: relative;
    vertical-align: central;
    margin-left: 70px;
    margin-top: 50px;
}

.txt_profile_screenshot {
    color: #FFFFFF;
    font-size: 35pt;
    font-family: 'NIXGONFONTS B';
    padding-top: 35px;
    padding-left: 65px;
    text-align: left;
}

.div_profile_scs_main{
    width:50%;
    float:left;
    padding-left:65px;
}

.div_profile_scs_sub{
    width:40%;
    float:right;
}

.img_profile_scs_main{
    width:500px;
}

.img_profile_scs_sub{
    width:250px;
}