@font-face {
    font-family: 'NIXGONFONTS L';
    src: url('../Fonts/NIXGONFONTS L 2.0.ttf') format('truetype');
}

@font-face {
    font-family: 'NIXGONFONTS M';
    src: url('../Fonts/NIXGONFONTS M 2.0.ttf') format('truetype');
}

@font-face {
    font-family: 'NIXGONFONTS B';
    src: url('../Fonts/NIXGONFONTS B 2.0.ttf') format('truetype');
}
@font-face {
    font-family: 'IBMPlexSansKR-Medium';
    src: url('../Fonts/IBMPlexSansKR-Medium.ttf') format('truetype');
}

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.wrap_total {
    width: 100%;
    height: 100%;
    text-align: center;
}

.p {
    user-select: none;
}

/*프로필 상단부*/

.profile_square {
    background-color: #1B1C1E;
    width: 900px;
    height: 230px;
    position: relative;
    left: 50%;
    transform:translateX(-50%);
    margin-top: 40px;
}

.img_profile {
    top: 50%;
    transform:translateY(-50%);
    width: 150px;
    height: 150px;
    margin-left: 30px;
    position: relative;
}
.txt_profile_detail {
    color: #FFFFFF;
    font-size: 15pt;
    font-family: 'NIXGONFONTS M';
    position: relative;
    margin-left: 20px;
}

.txt_profile_detail2 {
    color: #FFFFFF;
    font-size: 15pt;
    font-family: 'NIXGONFONTS M';
    position: relative;
    margin-left: 3px;
}
.txt_profile_nickname {
    color: #FFFFFF;
    font-size: 30pt;
    font-family: 'NIXGONFONTS B';
    position: relative;
    margin-left: 20px;
}
.txt_profile_level {
    font-size: 15pt;
    font-family: 'NIXGONFONTS M';
    color: #ff6a00;
    position: relative;
    margin-left: 5px;
}
.txt_profile_countgame {
    font-size: 15pt;
    font-family: 'NIXGONFONTS M';
    color: cyan;
    position: relative;
    margin-left: 5px;
}
.div_profile_img{
    width: 190px;
    height: 100%;
    float:left;
    position: relative;
}
.div_profile_detail {
    width: 520px;
    height: 100%;
    text-align: left;
    float: left;
    position: relative;
}
.div_profile_edit {
    width: 140px;
    height: 100%;
    float: left;
    position: relative;
    padding-right: 10px;
}

.wrap_edit_p {
    display: table;
    width: 120px;
    height: 50px;
    background: #25262b;
    position: relative;
    float: left;
    visibility: hidden;
    top: 50%;
    transform: translateY(15px);
    border-radius: 10px;
    cursor: pointer;
}

.p_profile_edit {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    color: #FFFFFF;
    font-family: 'NIXGONFONTS B';
    font-size: 13pt;
    user-select: none;
    cursor: pointer;
}

/*최근 구매한 게임*/

.profile_square_game {
    background-color: #1B1C1E;
    width: 900px;
    height: 480px;
    position: relative;
    vertical-align: central;
    margin-left: 100px;
    margin-top: 10px;
}

.txt_profile_game {
    color: #FFFFFF;
    font-size: 35pt;
    font-family: 'NIXGONFONTS B';
    padding-top:30px;
    padding-left:55px;
    text-align:left;
}

.div_profile_game{
    float:left;
    width:32%;
    height:90%;
}
.div_profile_game-1{
    padding-left:40px;
}

.img_profile_game{
    width:90%;

}
.txt_profile_game_title {
    color: #FFFFFF;
    font-size: 25pt;
    font-family: 'NIXGONFONTS M';
}
.txt_profile_game_date {
    color: #FFFFFF;
    font-size: 15pt;
    font-family: 'NIXGONFONTS M';
}
.txt_profile_game_price {
    font-family: 'IBMPlexSansKR-Medium';
}

/*스크린샷*/

.profile_square_screenshot {
    background-color: #1B1C1E;
    width: 900px;
    height: 460px;
    position: relative;
    vertical-align: central;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom:20px;
}

.txt_profile_screenshot {
    color: #FFFFFF;
    font-size: 35pt;
    font-family: 'NIXGONFONTS B';
    padding-top: 35px;
    padding-left: 65px;
    text-align: left;
    vertical-align:middle;
}
.div_scs {
    width: 100%;
    height: 200px;
    text-align: center;
    vertical-align: middle;

}
.div_profile_scs_main {
    float: left;
    width: 280px;
    height: 200px;
    display:inline-block;
    margin-left:20px;
}

.img_profile_scs_main{
    width:280px;
    height:180px;
}
.div_upload_scs{
    text-align:center;
}
.button_profile {
    border: 0;
    outline: 0;
    background-color: #25262B;
    color: #FFFFFF;
    font-size: 14pt;
    width: 100px;
    height: 50px;
    position: relative;
    margin-top: 2vh;
    border-radius: 0 10px 0 10px;
    transition: all 0.2s;
    visibility: visible;
    font-family: 'NIXGONFONTS M';
}

    .button_profile:hover {
        color: #FFFFFF;
        background-color: #3dae7a;
        font-family: 'NIXGONFONTS M';
    }
.txt_upload_imgselect {
    font-size: 13pt;
    color: #FFFFFF;
    font-family: 'NIXGONFONTS M';
    margin-top: 10px;
    width: 290px;
    text-align: left;
}

