@font-face {
    font-family: 'NIXGONFONTS L';
    src: url('../Fonts/NIXGONFONTS L 2.0.ttf') format('truetype');
}

@font-face {
    font-family: 'NIXGONFONTS M';
    src: url('../Fonts/NIXGONFONTS M 2.0.ttf') format('truetype');
}

@font-face {
    font-family: 'NIXGONFONTS B';
    src: url('../Fonts/NIXGONFONTS B 2.0.ttf') format('truetype');
}

html, body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'NIXGONFONTS M';
}

.wrap_total {
    width: 100%;
    height: 100%;
    text-align:left;
}

.p_features {
    color: #FFFFFF;
    font-size: 20pt;
}

.div_wrap_features {
    width: 70vw;
    height: 40vh;
    background: #1B1C1E;
    position: relative;
}

.div_features_pic {
    width: 65%;
    height: 100%;
    background: #ff6a00;
    float: left;
}

.title_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.div_feautres_details {
    width: 35%;
    height: 100%;
    float: right;
}

.p {
    user-select: none;
}

.p_title {
    font-size: 20pt;
    color: #FFFFFF;
    font-family: 'NIXGONFONTS B';
}

.p_status {
    font-size: 20pt;
    color: #FFFFFF;
    font-family: 'NIXGONFONTS M';
}

.p_preorder {
    font-size: 20pt;
    color: #85cba5;
    font-family: 'NIXGONFONTS M';
    text-align: right;
    margin-bottom: 0;
}

.p_price {
    font-size: 30pt;
    color: #FFFFFF;
    font-family: 'NIXGONFONTS B';
    text-align: right;
}