@font-face {
    font-family: 'IBMPlexSansKR-Bold';
    src: url('../Fonts/IBMPlexSansKR-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'IBMPlexSansKR-Medium';
    src: url('../Fonts/IBMPlexSansKR-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'NIXGONFONTS M 2.0';
    src: url('../Fonts/NIXGONFONTS M 2.0.ttf') format('truetype');
}

@font-face {
    font-family: 'NIXGONFONTS B 2.0';
    src: url('../Fonts/NIXGONFONTS B 2.0.ttf') format('truetype');
}
@font-face {
    font-family: 'HangeulNuriB';
    src: url('../Fonts/HangeulNuriB.ttf') format('truetype');
}
@font-face {
    font-family: 'HangeulNuriR';
    src: url('../Fonts/HangeulNuriR.ttf') format('truetype');
}

html, body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.wrap_total {
    width: 100%;
    height: 100%;
    text-align: left;
}

.wrap_total_images {
    width: 800px;
    height: 500px;
    float: left;
    margin-top: 50px;
    position: relative;
}

.p_title {
    color: #FFFFFF;
    font-size: 25pt;
    font-family: 'NIXGONFONTS B 2.0';
    margin: 0;
    margin-bottom: 20px;
}

.div_main_image {
    width: 800px;
    height: 460px;
    float: left;
    position: relative;
    background: skyblue;
}

.div_wrap_small_images {
    width: auto;
    height: 110px;
    float: left;
    position: relative;
    background: blue;
}

.div_wrap_placeholder {
    width: 195px;
    height: 90px;
    float: left;
    position: relative;
    background: yellow;
    margin-right: 5px;
}

.img_placeholder {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.div_wrap_playbutton {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.img_playbutton {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.div_wrap_screenshot {
    width: 195px;
    height: 90px;
    float: left;
    position: relative;
    background: green;
    margin-right: 5px;
}

.img_screenshot {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.wrap_total_infobox {
    width: 300px;
    height: 400px;
    background: blue;
    float: left;
    margin-top: 50px;
    position: relative;
}